<app-intro-overlay *ngIf="showIntro" (done)="onIntroDone()"></app-intro-overlay>



<div class="content">
  <a class="calendar-link" href="calendar.ics" download>
    <img class="calendar-icon" src="assets/images/calendar.png" alt="Calendar Icon" />
  </a>

  <div class="mor-batel">
    <div class="letter-container"><div class="mor">M</div></div>
    <div class="letter-container"><div class="batel">B</div></div>
    <div class="mor-line"></div>
  </div>

  <p class="save-our-date">Save our date</p>
  <h1>Mor & Batel</h1>

  <div class="date">
    <p class="day">28</p>
    <p class="month">08</p>
    <p class="year">26</p>
    <div class="date-line"></div>
  </div>

  <p class="location">Ella, <span>Nes Tziona</span></p>

  <div class="countdown">
    <div class="intro">
      <div class="cd">
        <div class="cd__unit-group">
          <!-- Months -->
          <div class="cd__unit">
            <div class="cd__digits">
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[0]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[0]">{{ moStr[0] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[0]">{{ prevMoStr[0] }}</div>
              </div>
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[1]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[1]">{{ moStr[1] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[1]">{{ prevMoStr[1] }}</div>
              </div>
            </div>
            <div class="cd__unit-label">Month(s)</div>
          </div>

          <!-- Days -->
          <div class="cd__unit">
            <div class="cd__digits">
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[2]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[2]">{{ dStr[0] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[2]">{{ prevDStr[0] }}</div>
              </div>
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[3]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[3]">{{ dStr[1] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[3]">{{ prevDStr[1] }}</div>
              </div>
            </div>
            <div class="cd__unit-label">Day(s)</div>
          </div>
        </div>

        <div class="cd__unit-group">
          <!-- Hours -->
          <div class="cd__unit">
            <div class="cd__digits">
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[4]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[4]">{{ hStr[0] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[4]">{{ prevHStr[0] }}</div>
              </div>
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[5]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[5]">{{ hStr[1] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[5]">{{ prevHStr[1] }}</div>
              </div>
            </div>
            <div class="cd__unit-label">Hour(s)</div>
          </div>

          <!-- Minutes -->
          <div class="cd__unit">
            <div class="cd__digits">
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[6]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[6]">{{ mStr[0] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[6]">{{ prevMStr[0] }}</div>
              </div>
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[7]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[7]">{{ mStr[1] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[7]">{{ prevMStr[1] }}</div>
              </div>
            </div>
            <div class="cd__unit-label">Minute(s)</div>
          </div>

          <!-- Seconds -->
          <div class="cd__unit">
            <div class="cd__digits">
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[8]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[8]">{{ sStr[0] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[8]">{{ prevSStr[0] }}</div>
              </div>
              <div class="cd__digit" [class.cd__digit--roll-in]="animCols[9]">
                <div data-pos="next" [class.cd__next-digit-fade]="animCols[9]">{{ sStr[1] }}</div>
                <div data-pos="prev" [class.cd__prev-digit-fade]="animCols[9]">{{ prevSStr[1] }}</div>
              </div>
            </div>
            <div class="cd__unit-label">Second(s)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image-container">
    <!-- <img src="assets/images/mor_and_on.jpg" alt="mor_and_on"> -->
  </div>
</div>
